@import 'tailwindcss';
@tailwind utilities;

body {
	@apply bg-white text-black dark:bg-gray-900 dark:text-gray-100 transition-colors duration-500;
	font-family: Arial, Helvetica, sans-serif;
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

html.dark {
	--background: #0a0a0a;
	--foreground: #ededed;
}
